.drawer {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 80%;
  max-width: 300px;
  max-height: 100vh;
  box-sizing: border-box;
  padding: 20px 10px;
  transform: translateX(-300px);
  transition: transform 0.22s ease-in;
  background-color: #f8f9fa;
  z-index: 90;
  overflow-y: auto;
}

.drawer.open {
  transform: translateX(0);
}
